*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Cormorant Garamond", serif;
  font-size: 14px;
  font-weight: 500;
  background: #44abca;
  // color: #463230;
  color: #fff;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.default-title {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}
.default-btn {
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  padding: 13px 25px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  border: 1px solid #e2e2e2;
  transition: all 0.35s ease;
  &:hover {
    background-color: #5c1f1f;
    color: #fff;
  }
}
.tag {
  font-family: "La Belle Aurore", cursive;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
}
