@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "jquery.funnyText";

// ==== Mixins ===
@mixin font-cursive {
  font-family: "La Belle Aurore", cursive;
}
@mixin font-roboto {
  font-family: "Roboto", sans-serif;
}
// ==== Mixins === //

.header {
  background-color: #1d1d1d;
  &__wrapper {
    min-height: 100vh;
    position: relative;
    z-index: 2;
    &-top {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      z-index: 2;
      &__row {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logotype {
          display: inline-block;
          border: 1px solid #fff;
          padding: 8px 12px;
          width: 250px;
          color: #fff;
          letter-spacing: 2px;
          text-align: center;
          display: flex;
          flex-direction: column;
          transition: all 0.35s ease;
          .logo-name {
            font-size: 26px;
            font-weight: 600;
            text-transform: uppercase;
          }
          .logo-pro {
            color: #fff;
            font-size: 14px;
            text-transform: none;
            background-color: #5c1f1f;
          }
          &:hover {
            opacity: 0.8;
          }
        }
        // Mobile burger
        .overlay {
          display: none;
        }
        .social {
          &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            li + li {
              margin-left: 10px;
            }
          }
          &__link {
            display: block;
            transition: all 0.35s ease;
            text-align: center;
            width: 40px;
            height: 40px;
            fill: #cfcfcf;
            border: 1px solid #fff;
            border-radius: 50%;
            svg {
              height: 100%;
            }
          }
          .facebook {
            &:hover {
              border: 1px solid transparent;
              background: #3b5998;
              fill: #fff;
            }
          }
          .github {
            &:hover {
              border: 1px solid transparent;
              background: #535353;
              fill: #fff;
            }
          }
          .instagram {
            &:hover {
              border: 1px solid #1d1d1d;
              background: radial-gradient(
                circle at 30% 110%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
              );
              box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
              fill: #fff;
            }
          }
          .vkontakte {
            &:hover {
              border: 1px solid transparent;
              background: #5d84ae;
              fill: #fff;
            }
          }
          .telegram {
            &:hover {
              border: 1px solid transparent;
              background: #249bd7;
              fill: #fff;
            }
          }
        }
      }
    }
    .navbar {
      position: fixed;
      left: 15px;
      top: 38%;
      transform: translateY(-38%);
      z-index: 50;
      .navbar-menu {
        text-align: center;
        &__list {
          li {
            transform: rotate(350deg);
          }
        }
        &__link {
          color: rgba(255, 255, 255, 0.5);
          display: block;
          letter-spacing: 2px;
          font-weight: 600;
          margin: 5px 0;
          padding: 3px 10px;
          background-color: rgba(0, 0, 0, 0.8);
          text-transform: uppercase;
          -webkit-border-radius: 1px;
          border-radius: 1px;
          transform: scale(1);
          transition: all 0.35s ease;
          &:hover {
            color: #fff;
            transform: scale(1.2);
          }
        }
        a.mPS2id-highlight {
          background-color: #5c1f1f;
          color: #fff;
        }
      }
    }
    &-info {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      .typed-strings {
        font-size: 42px;
        text-transform: uppercase;
        line-height: 42px;
        .typed-name {
          padding: 0 0 6px 0;
        }
        .typed-write {
          letter-spacing: 3px;
          &__welcome {
            font-size: 32px;
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 0;
          }
        }
      }
      &__desription {
        font-size: 16px;
        margin: 40px 0 150px 0;
        opacity: 0.7;
        span {
          display: block;
        }
      }
    }
    &__arrow-down {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      fill: #fff;
      animation-delay: 8s;
    }
  }
}


.about {
  &__wrapper {
    min-height: 700px;
    background-image: linear-gradient(
      to right bottom,
      #1d1d1d,
      #1d1d1d,
      #1d1d1d,
      #1d1d1d,
      #1d1d1d,
      #282829,
      #343435,
      #414041,
      #605d5d,
      #807b7a,
      #9f9c97,
      #bdbeb8
    );
    &__row {
      width: 90%;
      margin: 0 auto;
      position: relative;
      .about-info {
        padding: 40px 0 40px 80px;
        display: flex;
        flex-direction: column;
        span {
          display: inline-block;
        }
        .tag-h2-open {
          margin: 72px 0 0 100px;
        }
        .tag-h2-close {
          margin: 9px 0 0 100px;
        }
        &__title {
          margin: 0 0 0 110px;
        }
        .left-text {
          @include font-roboto;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.8);
          max-width: 675px;
          margin: 10px 0 10px 110px;
        }
        .tag-body-close {
          margin: 72px 0 0 0;
        }
      }
      .wrap-cube {
        position: absolute;
        top: 50%;
        right: 20%;
        transform: translateY(-50%);
        perspective: 1000px;
        perspective-origin: 50% 50%;
        .cube {
          margin: auto;
          position: relative;
          height: 200px;
          width: 200px;
          transform-style: preserve-3d;
          img {
            max-width: 100%;
            height: 110px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .cube > div {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.9;
        background-color: rgba(0, 0, 0, 0.7);
        border: solid 1px rgba(0, 0, 0, 0.7);
        color: #eee;
        font-size: 17px;
        text-align: center;
      }
      .front {
        transform: translateZ(100px);
        position: relative;
        .cube__js-icon {
          position: absolute;
          bottom: 20px;
          letter-spacing: 1px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .back {
        transform: translateZ(-100px) rotateY(180deg);
      }
      .right {
        transform: rotateY(-270deg) translateX(100px);
        transform-origin: top right;
      }
      .left {
        transform: rotateY(270deg) translateX(-100px);
        transform-origin: center left;
        .cube__wordpress-icon {
          position: absolute;
          bottom: 20px;
          letter-spacing: 1px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .top {
        transform: rotateX(-270deg) translateY(-100px);
        transform-origin: top center;
        position: relative;
        .cube__html-icon {
          position: absolute;
          top: 30px;
          letter-spacing: 1px;
          left: 50%;
          transform: translateX(-50%);
          text-transform: uppercase;
        }
      }
      .bottom {
        transform: rotateX(270deg) translateY(100px);
        transform-origin: bottom center;
        position: relative;
        .cube__css-icon {
          position: absolute;
          top: 30px;
          letter-spacing: 1px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      @keyframes rotate {
        from {
          transform: rotateX(0deg) rotateY(0deg);
        }

        to {
          transform: rotateX(360deg) rotateY(360deg);
        }
      }
      .cube {
        animation: rotate 20s infinite linear;
      }
      .wrap-cube:hover .front {
        transform: translateZ(200px);
      }
      .wrap-cube:hover .back {
        transform: translateZ(-200px) rotateY(180deg);
      }
      .wrap-cube:hover .right {
        transform: rotateY(-270deg) translateZ(100px) translateX(100px);
      }
      .wrap-cube:hover .left {
        transform: rotateY(270deg) translateZ(100px) translateX(-100px);
      }
      .wrap-cube:hover .top {
        transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
      }
      .wrap-cube:hover .bottom {
        transform: rotateX(270deg) translateZ(100px) translateY(100px);
      }
      .cube > div {
        transition: transform 0.2s ease-in;
      }
    }
  }
}


.portfolio {
  background-image: url(../img/architecture-2179243_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0 40px;
  &__wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 80rem;
    &-title {
      text-transform: uppercase;
      text-align: center;
      color: #1d1d1d;
      margin: 0 0 10px 0;
    }
    &-columns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      .portfolio-col {
        width: calc(33.33333% - 2rem);
        margin: 1rem;
        cursor: default;
      }
      .portfolio-container {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px;
      }
      .portfolio-front,
      .portfolio-back {
        background-size: cover;
        background-position: top;
        -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
        min-height: 400px;
        height: auto;
        border-radius: 10px;
        color: #fff;
        font-size: 24px;
      }
      .portfolio-back {
        background: #cedce7;
        background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
        background-image: url(../img/pattern-in-design.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #1d1d1d;
      }
      .portfolio-front:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        opacity: 0.1;
        background-color: #000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 10px;
      }
      .portfolio-container:hover .portfolio-front,
      .portfolio-container:hover .portfolio-back {
        -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      }
      .portfolio-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .pf-btn {
          font-size: 22px;
          display: inline-block;
          transition: all 0.35s ease;
          background-color: #1d1d1d;
          padding: 10px 20px;
          margin: 120px 0 0 0;
          border-radius: 2px;
          color: rgba(255, 255, 255, 0.7);
          cursor: pointer;
          &:hover {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
      .portfolio-container .portfolio-back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
      .portfolio-container .portfolio-front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
      .portfolio-container:hover .portfolio-back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
      .portfolio-container:hover .portfolio-front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }
      .portfolio-back p {
        font-size: 30px;
        margin: 50px 0 50px 0;
        font-weight: 600;
        position: relative;
      }
      .portfolio-back p:after {
        content: "";
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #1d1d1d;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -0.75rem;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .portfolio-col {
      width: calc(33.333333% - 2rem);
    }
  }
  @media screen and (max-width: 980px) {
    .portfolio-col {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 480px) {
    .portfolio-col {
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }
}


.services {
  padding: 20px 0;
  background-image: linear-gradient(
    to left bottom,
    #bdbeb8,
    #9f9c97,
    #807b7a,
    #605d5d,
    #414041,
    #343435,
    #282829,
    #1d1d1d,
    #1d1d1d,
    #1d1d1d,
    #1d1d1d,
    #1d1d1d
  );
  &__wrapper {
    width: 80%;
    margin: 0 auto;
    @include font-roboto;
    &-title {
      font-size: 26px;
      letter-spacing: 2px;
      text-align: center;
      color: rgba(255, 255, 255, 0.9);
    }
    &-descr {
      display: block;
      font-size: 16px;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      margin: 0 0 10px 0;
    }
    &-columns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      .services-col {
        width: calc(25% - 2rem);
        margin: 1rem;
        display: flex;
        &__inner {
          @include font-roboto;
          text-align: center;
          border-radius: 10px;
          padding: 10px 0;
          border: 2px solid transparent;
          background: rgba(0, 0, 0, 0.5);
          font-size: 16px;
          transition: all 0.35s ease;
          transform: scale(1);
          font-size: 14px;
          color: #ececec;
          display: flex;
          flex-direction: column;
          &:hover {
            border: 2px solid #ececec;
            transform: scale(1.05);
          }
          span {
            display: block;
          }
          .services-name {
            font-size: 22px;
            font-weight: 600;
            line-height: 18px;
            margin: 0 0 40px 0;
            font-family: "Cormorant Garamond", serif;
            color: #fcfcfc;
          }
          .services__online-store {
            font-size: 18px;
            margin: 0 0 20px 0;
          }
          .services-list {
            text-align: left;
            font-size: 14px;
            line-height: 18px;
            padding-left: 20px;
            margin: 0 0 15px 0;
            li {
              list-style-type: disc;
            }
            li + li {
              margin-top: 2px;
            }
          }
          .services-day-quantity {
            line-height: 18px;
          }
          .services-day-work {
            font-size: 16px;
            line-height: 18px;
            padding: 0 0 15px 0;
          }
          .services-descr {
            margin: 0 0 15px 0;
            padding: 0 2px;
            line-height: 18px;
            flex: 1 1 auto;
          }
          .services-price {
            font-size: 18px;
            padding: 10px 0;
            background-color: rgba(0, 0, 0, 0.35);
            color: rgb(226, 226, 224);
            margin: 8px 15px;
          }
          .spoiler {
            text-align: left;
            padding: 0 10px;
            &__item {
              .spoiler__title {
                text-transform: uppercase;
                position: relative;
                cursor: pointer;
                padding: 0 0 0 20px;
                margin: 0 0 20px 0;
                &:before,
                &:after {
                  content: "";
                  position: absolute;
                  top: 7px;
                  left: 5px;
                  width: 8px;
                  height: 1px;
                  background-color: #ececec;
                  transition: all 0.35s ease;
                }
                &:before {
                  transform: rotate(45deg);
                  left: 0;
                }
                &:after {
                  transform: rotate(-45deg);
                  left: 5px;
                }
              }
              .spoiler__title.active:before,
              .spoiler__title.active:after {
                background-color: #5c1f1f;
              }
              .spoiler__title.active:before {
                transform: rotate(-45deg);
              }
              .spoiler__title.active:after {
                transform: rotate(45deg);
              }
              .spoiler__text {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .services-col {
      width: calc(33.333333% - 2rem);
    }
  }
  @media screen and (max-width: 980px) {
    .services-col {
      width: calc(50% - 2rem);
    }
  }
  @media screen and (max-width: 480px) {
    .services-col {
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }
}


.footer {
  background-color: #1d1d1d;
  padding: 20px 0 40px;
  &__wrapper {
    @include font-roboto;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    &-title {
      font-size: 26px;
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 0.9);
    }
    &-descr {
      display: block;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.8);
    }
    form {
      max-width: 600px;
      margin: 10px auto 0;
      padding: 10px 15px 6px 15px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      overflow: hidden;
      @include font-roboto;
      font-size: 16px;
    }
    /* Поле сообщения */
    textarea {
      width: 100%;
      height: 130px;
      border: 0;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #2b2b2b;
      display: block;
      color: #8d8d8d;
      padding: 10px;
      overflow-y: auto;
    }
    /* Поля ввода */
    input {
      height: 42px;
      width: 100%;
      padding: 0 10px;
      border: 0;
      border-radius: 2px;
      background-color: #2b2b2b;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      display: block;
      color: #8d8d8d;
    }
    input[type="submit"] {
      cursor: pointer;
    }
    ::-webkit-input-placeholder {
      color: #8d8d8d;
    }
    :-moz-placeholder {
      color: #8d8d8d;
    }
    ::-moz-placeholder {
      color: #8d8d8d;
    }
    :-ms-input-placeholder {
      color: #8d8d8d;
    }
    input:focus,
    textarea:focus {
      overflow-y: auto;
    }
    /* Стили для кнопки отправить */
    .btn-form {
      margin: 15px 0 0 0;
      // max-width: 40%;
      height: 46px;
      color: rgba(255, 255, 255, 0.7);
      background-color: #1d1d1d;
      border: 1px solid #e2e2e2;
      float: right;
      padding: 10.5px 21px;
      text-transform: uppercase;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      transition: all 0.35s linear;
      cursor: pointer;
    }
    .btn-form:hover {
      border: 1px solid #5c1f1f;
      text-shadow: #333333 0 1px 0;
      background: #5c1f1f;
      color: rgba(255, 255, 255, 1);
    }
    .btn-form:active {
      margin-top: 1px;
      border: 1px solid #5c1f1f;
      background: #5c1f1f;
      color: rgba(255, 255, 255, 1);
    }
  }
}

@import "media";
